In [1]:
from datetime import datetime
start_time = datetime.now()

# Libraries to load
# !pip install lightgbm

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
import lightgbm as lgb
import numpy as np
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

print('LOAD DURATION: ', datetime.now() - start_time) # load time about 30 seconds

LOAD DURATION:  0:00:01.718216

## Preparation for Model Fitting

In [2]:
%%time
vars = pd.read_csv('vars_final.csv')
print(vars.shape)
vars.head()

(96397, 22)
CPU times: user 115 ms, sys: 16.3 ms, total: 132 ms
Wall time: 132 ms

,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,...,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1,Cardnum_Merstate_avg_0,Cardnum_Merchnum_avg_3,Cardnum_Merchnum_avg_0,Cardnum_Merzip_avg_0,Cardnum_Merzip_avg_3,Recnum,Fraud
0,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,...,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,1,0
1,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,...,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,2,0
2,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,...,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,3,0
3,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,...,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,4,0
4,7.24,3.62,7.24,7.24,3.62,7.24,3.62,7.24,7.24,7.24,...,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,5,0

In [3]:
final_vars = pd.read_csv('final_vars_list.csv')
final_vars

                variable name
0    Cardnum_Merchnum_total_7
1     Cardnum_Merstate_max_30
2   Cardnum_Merchnum_total_14
3   Cardnum_Merstate_total_14
4              Merchnum_avg_1
5   Cardnum_Merchnum_total_30
6             Zip_Atype_max_3
7     Cardnum_Merzip_total_14
8   Cardnum_Merstate_total_30
9     Cardnum_Merzip_total_30
10     Merchnum_Atype_total_7
11         Zip_Atype_total_14
12       Cardnum_Merzip_avg_1
13         State_Atype_med_14
14     Cardnum_Merchnum_avg_1
15     Cardnum_Merstate_avg_0
16     Cardnum_Merchnum_avg_3
17     Cardnum_Merchnum_avg_0
18       Cardnum_Merzip_avg_0
19       Cardnum_Merzip_avg_3

In [4]:
numvars = min(15,len(final_vars))
final_vars_list = ['Recnum','Fraud']
for i in range(numvars):
    final_vars_list.append(final_vars.iloc[i]['variable name'])
    
final_vars_list

['Recnum',
 'Fraud',
 'Cardnum_Merchnum_total_7',
 'Cardnum_Merstate_max_30',
 'Cardnum_Merchnum_total_14',
 'Cardnum_Merstate_total_14',
 'Merchnum_avg_1',
 'Cardnum_Merchnum_total_30',
 'Zip_Atype_max_3',
 'Cardnum_Merzip_total_14',
 'Cardnum_Merstate_total_30',
 'Cardnum_Merzip_total_30',
 'Merchnum_Atype_total_7',
 'Zip_Atype_total_14',
 'Cardnum_Merzip_avg_1',
 'State_Atype_med_14',
 'Cardnum_Merchnum_avg_1']

In [5]:
vars = vars.filter(final_vars_list,axis=1)
vars.head()

,Recnum,Fraud,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,Merchnum_Atype_total_7,Zip_Atype_total_14,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1
0,1,0,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62
1,2,0,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42
2,3,0,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49
3,4,0,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,7.24,7.24,3.62,3.62,3.62
4,5,0,7.24,3.62,7.24,7.24,3.62,7.24,3.62,7.24,7.24,7.24,10.86,10.86,3.62,3.62,3.62

In [6]:
# use this to cap variables. For some problems it helps
Clip = 10

In [7]:
vars.rename(columns={'fraud_label':'Fraud'},inplace=True)

In [8]:
vars['Fraud'].sum()

1059

In [9]:
vars.head(10)

,Recnum,Fraud,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,Merchnum_Atype_total_7,Zip_Atype_total_14,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1
0,1,0,3.62,3.62,3.62,3.62,3.620000,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62,3.62
1,2,0,31.42,31.42,31.42,31.42,31.420000,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42,31.42
2,3,0,178.49,178.49,178.49,178.49,178.490000,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49,178.49
3,4,0,3.62,3.62,3.62,3.62,3.620000,3.62,3.62,3.62,3.62,3.62,7.24,7.24,3.62,3.62,3.62
4,5,0,7.24,3.62,7.24,7.24,3.620000,7.24,3.62,7.24,7.24,7.24,10.86,10.86,3.62,3.62,3.62
5,6,0,3.67,3.67,3.67,3.67,3.632500,3.67,3.67,3.67,3.67,3.67,14.53,14.53,3.67,3.62,3.67
6,7,0,3.62,3.62,3.62,3.62,3.630000,3.62,3.67,3.62,3.62,3.62,18.15,18.15,3.62,3.62,3.62
7,8,0,230.32,230.32,230.32,230.32,230.320000,230.32,230.32,230.32,230.32,230.32,230.32,230.32,230.32,230.32,230.32
8,9,0,62.11,62.11,62.11,62.11,62.110000,62.11,62.11,62.11,62.11,62.11,62.11,62.11,62.11,62.11,62.11
9,10,0,10.86,3.62,10.86,10.86,3.628333,10.86,3.67,10.86,10.86,10.86,21.77,21.77,3.62,3.62,3.62

In [10]:
vars.shape

(96397, 17)

In [11]:
vars.describe()

,Recnum,Fraud,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,Merchnum_Atype_total_7,Zip_Atype_total_14,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1
count,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000
mean,48365.481820,0.010986,690.572990,708.891565,772.055184,1149.635502,397.454489,926.873738,492.974226,806.520884,1664.849208,990.611156,1366.644568,2614.054141,397.214735,328.816976,397.192563
std,27945.003883,0.104236,4104.125044,1298.441152,4170.622260,4505.685722,741.604779,4304.281777,1210.440409,4186.911615,5178.692255,4345.067139,5324.157592,8237.877610,797.165245,436.655567,799.498155
min,1.000000,0.000000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000
25%,24154.000000,0.000000,65.600000,87.100000,77.150000,113.470000,44.998333,94.000000,38.070000,85.000000,166.950000,105.600000,109.000000,169.500000,36.000000,33.495000,35.520000
50%,48365.000000,0.000000,203.000000,325.540000,237.740000,365.000000,178.110000,290.050000,144.200000,257.000000,538.350000,322.250000,403.000000,700.000000,145.000000,103.315000,144.000000
75%,72578.000000,0.000000,600.000000,919.250000,679.650000,1090.880000,467.330000,829.830000,465.200000,718.640000,1604.990000,905.360000,1058.120000,1932.560000,439.760000,305.000000,438.940000
max,96753.000000,1.000000,306633.410000,47900.000000,306633.410000,306633.410000,27218.000000,306633.410000,47900.000000,306633.410000,306633.410000,306633.410000,312333.530000,316865.100000,28392.840000,27218.000000,28392.840000

In [12]:
record_save = vars['Recnum']
Y_save = pd.DataFrame(vars.loc[:,'Fraud'])
Y_save.head()

   Fraud
0      0
1      0
2      0
3      0
4      0

## Scale and truncate field values

In [13]:
X_no_scaling = vars.drop(columns = ['Recnum','Fraud'])
X_no_scaling.describe()

,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,Merchnum_Atype_total_7,Zip_Atype_total_14,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1
count,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000
mean,690.572990,708.891565,772.055184,1149.635502,397.454489,926.873738,492.974226,806.520884,1664.849208,990.611156,1366.644568,2614.054141,397.214735,328.816976,397.192563
std,4104.125044,1298.441152,4170.622260,4505.685722,741.604779,4304.281777,1210.440409,4186.911615,5178.692255,4345.067139,5324.157592,8237.877610,797.165245,436.655567,799.498155
min,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000
25%,65.600000,87.100000,77.150000,113.470000,44.998333,94.000000,38.070000,85.000000,166.950000,105.600000,109.000000,169.500000,36.000000,33.495000,35.520000
50%,203.000000,325.540000,237.740000,365.000000,178.110000,290.050000,144.200000,257.000000,538.350000,322.250000,403.000000,700.000000,145.000000,103.315000,144.000000
75%,600.000000,919.250000,679.650000,1090.880000,467.330000,829.830000,465.200000,718.640000,1604.990000,905.360000,1058.120000,1932.560000,439.760000,305.000000,438.940000
max,306633.410000,47900.000000,306633.410000,306633.410000,27218.000000,306633.410000,47900.000000,306633.410000,306633.410000,306633.410000,312333.530000,316865.100000,28392.840000,27218.000000,28392.840000

In [14]:
X = (X_no_scaling - X_no_scaling.mean()) / X_no_scaling.std()

In [15]:
# push in any outlier values
cols = X.columns
X.loc[:,cols] = X[cols].clip(upper=Clip)
X.loc[:,cols] = X[cols].clip(lower=-1*Clip)
# X = (X_no_scaling - X_no_scaling.mean()) / X_no_scaling.std()
X.describe()

,Cardnum_Merchnum_total_7,Cardnum_Merstate_max_30,Cardnum_Merchnum_total_14,Cardnum_Merstate_total_14,Merchnum_avg_1,Cardnum_Merchnum_total_30,Zip_Atype_max_3,Cardnum_Merzip_total_14,Cardnum_Merstate_total_30,Cardnum_Merzip_total_30,Merchnum_Atype_total_7,Zip_Atype_total_14,Cardnum_Merzip_avg_1,State_Atype_med_14,Cardnum_Merchnum_avg_1
count,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000,96397.000000
mean,-0.012559,-0.010834,-0.012330,-0.011546,-0.007544,-0.011721,-0.011757,-0.012245,-0.009957,-0.011523,-0.010938,-0.008793,-0.007749,-0.001328,-0.007810
std,0.462474,0.821937,0.489251,0.585545,0.857374,0.539554,0.782755,0.496194,0.707517,0.553594,0.658165,0.823602,0.855476,0.965835,0.854959
min,-0.168261,-0.545948,-0.185115,-0.255150,-0.535925,-0.215335,-0.407260,-0.192627,-0.321479,-0.227983,-0.256686,-0.317320,-0.498272,-0.753012,-0.496790
25%,-0.152279,-0.478875,-0.166619,-0.229968,-0.475261,-0.193499,-0.375817,-0.172328,-0.289243,-0.203682,-0.236215,-0.296746,-0.453124,-0.676327,-0.452374
50%,-0.118801,-0.295240,-0.128114,-0.174143,-0.295770,-0.147951,-0.288138,-0.131247,-0.217526,-0.153821,-0.180995,-0.232348,-0.316390,-0.516430,-0.316689
75%,-0.022069,0.162008,-0.022156,-0.013040,0.094222,-0.022546,-0.022946,-0.020989,-0.011559,-0.019620,-0.057948,-0.082727,0.053371,-0.054544,0.052217
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [16]:
# separate data into modeling (traintest) and out of time
oot_recnum=84300
X_trntst = X[0:oot_recnum]
Y_trntst = Y_save[0:oot_recnum]
X_oot = X[oot_recnum:]
Y_oot = Y_save[oot_recnum:]

In [17]:
niter = 0
nitermax = 10
FDR3 = pd.DataFrame(np.zeros((nitermax,3)), columns=('trn', 'tst', 'oot'))
X_oot_orig = X_oot.copy()
pd.options.mode.chained_assignment = None  # default='warn'

## Fit Best Models

In [18]:
%%time
# LightGB

train_value = []
test_value = []
oot_value = []
X_trntst_new = X_trntst.iloc[:,:5]
X_oot_new = X_oot_orig.iloc[:,:5]

X_trn, X_tst, Y_trn, Y_tst = train_test_split(X_trntst_new, Y_trntst, test_size = .3,random_state=10)

model = lgb.LGBMClassifier(n_estimators=100,max_depth=4,learning_rate=0.01,subsample=0.8)

X_oot = X_oot_orig.copy()
X_trn_save = X_trn.copy()
Y_trn_save = Y_trn.copy()

model.fit(X_trn, Y_trn.values.ravel())   

predictions = model.predict_proba(X_trn_save)[:,1]
X_trn['predicted'] = predictions
X_trn['Fraud'] = Y_trn_save['Fraud']

predictions = model.predict_proba(X_tst)[:,1]
X_tst['predicted']=predictions
X_tst['Fraud'] = Y_tst['Fraud']

predictions = model.predict_proba(X_oot_new)[:,1]
X_oot['predicted']=predictions
X_oot['Fraud'] = Y_oot['Fraud']

CPU times: user 1.96 s, sys: 388 ms, total: 2.35 s
Wall time: 428 ms

In [19]:
import math

## Draw Train Performance Table

In [20]:
NumOfRows_oneBin = math.ceil(int(round(X_trn.shape[0]))/100)
NumOfRows_oneBin_1 = math.ceil(int(round(X_tst.shape[0]))/100)
NumOfRows_oneBin_2 = math.ceil(int(round(X_oot.shape[0]))/100)

# for train
binNum = []
NumRecords = []
NumGoods = []
NumBads = []
PercentGoods = []
PercentBads = []
TotalRecords = []
CumGoods = []
CumBads = []
CumPercentGood = []
CumPercentBad = []
KS = []
FPR = []
total_Goods = X_trn[X_trn['Fraud']==0].shape[0]
total_Bads = X_trn[X_trn['Fraud']==1].shape[0]
for i in range(1,21):
    new_df = X_trn.sort_values('predicted',ascending=False)[(i-1)*NumOfRows_oneBin:i*NumOfRows_oneBin]
    binNum.append(i)
    NumRecords.append(NumOfRows_oneBin)
    NumGoods.append(new_df[new_df['Fraud']==0].shape[0])
    NumBads.append(new_df[new_df['Fraud']==1].shape[0])
    PercentGoods.append(round(NumGoods[-1]*100/NumOfRows_oneBin,2))
    PercentBads.append(100-PercentGoods[-1])
    TotalRecords.append(i*NumOfRows_oneBin)
    CumGoods.append(sum(NumGoods))
    CumBads.append(sum(NumBads))
    CumPercentGood.append(round(CumGoods[-1]*100/total_Goods,2))
    CumPercentBad.append(round(CumBads[-1]*100/total_Bads,2))
    KS.append(CumPercentBad[-1]-CumPercentGood[-1])
    FPR.append(round(CumGoods[-1]/CumBads[-1],2))

good = pd.DataFrame(data={'Pop':binNum,'NumberRecords':NumRecords,'Good':NumGoods,'Bad':NumBads,'PercentGood':PercentGoods,'PercentBad':PercentBads,'TotalRecodes':TotalRecords,'CumGood':CumGoods,'Cumbad':CumBads,'CumPercentGood':CumPercentGood,'CumPercentBad':CumPercentBad,'KS':KS,'FPR':FPR})
good

,Pop,NumberRecords,Good,Bad,PercentGood,PercentBad,TotalRecodes,CumGood,Cumbad,CumPercentGood,CumPercentBad,KS,FPR
0,1,591,224,367,37.90,62.10,591,224,367,0.38,57.70,57.32,0.61
1,2,591,510,81,86.29,13.71,1182,734,448,1.26,70.44,69.18,1.64
2,3,591,555,36,93.91,6.09,1773,1289,484,2.21,76.10,73.89,2.66
3,4,591,577,14,97.63,2.37,2364,1866,498,3.20,78.30,75.10,3.75
4,5,591,581,10,98.31,1.69,2955,2447,508,4.19,79.87,75.68,4.82
5,6,591,587,4,99.32,0.68,3546,3034,512,5.20,80.50,75.30,5.93
6,7,591,586,5,99.15,0.85,4137,3620,517,6.20,81.29,75.09,7.00
7,8,591,586,5,99.15,0.85,4728,4206,522,7.21,82.08,74.87,8.06
8,9,591,583,8,98.65,1.35,5319,4789,530,8.20,83.33,75.13,9.04
9,10,591,589,2,99.66,0.34,5910,5378,532,9.21,83.65,74.44,10.11
10,11,591,589,2,99.66,0.34,6501,5967,534,10.22,83.96,73.74,11.17
11,12,591,584,7,98.82,1.18,7092,6551,541,11.22,85.06,73.84,12.11
12,13,591,576,15,97.46,2.54,7683,7127,556,12.21,87.42,75.21,12.82
13,14,591,588,3,99.49,0.51,8274,7715,559,13.22,87.89,74.67,13.80
14,15,591,589,2,99.66,0.34,8865,8304,561,14.23,88.21,73.98,14.80
15,16,591,587,4,99.32,0.68,9456,8891,565,15.23,88.84,73.61,15.74
16,17,591,589,2,99.66,0.34,10047,9480,567,16.24,89.15,72.91,16.72
17,18,591,586,5,99.15,0.85,10638,10066,572,17.24,89.94,72.70,17.60
18,19,591,589,2,99.66,0.34,11229,10655,574,18.25,90.25,72.00,18.56
19,20,591,589,2,99.66,0.34,11820,11244,576,19.26,90.57,71.31,19.52

In [23]:
good.to_excel('good.xlsx')

## Draw Test Performance Table

In [21]:
# for test
binNum = []
NumRecords = []
NumGoods = []
NumBads = []
PercentGoods = []
PercentBads = []
TotalRecords = []
CumGoods = []
CumBads = []
CumPercentGood = []
CumPercentBad = []
KS = []
FPR = []
total_Goods = X_tst[X_tst['Fraud']==0].shape[0]
total_Bads = X_tst[X_tst['Fraud']==1].shape[0]
for i in range(1,21):
    new_df = X_tst.sort_values('predicted',ascending=False)[(i-1)*NumOfRows_oneBin_1:i*NumOfRows_oneBin_1]
    binNum.append(i)
    NumRecords.append(NumOfRows_oneBin_1)
    NumGoods.append(new_df[new_df['Fraud']==0].shape[0])
    NumBads.append(new_df[new_df['Fraud']==1].shape[0])
    PercentGoods.append(round(NumGoods[-1]*100/NumOfRows_oneBin_1,2))
    PercentBads.append(100-PercentGoods[-1])
    TotalRecords.append(i*NumOfRows_oneBin_1)
    CumGoods.append(sum(NumGoods))
    CumBads.append(sum(NumBads))
    CumPercentGood.append(round(CumGoods[-1]*100/total_Goods,2))
    CumPercentBad.append(round(CumBads[-1]*100/total_Bads,2))
    KS.append(CumPercentBad[-1]-CumPercentGood[-1])
    FPR.append(round(CumGoods[-1]/CumBads[-1],2))

tst = pd.DataFrame(data={'Pop':binNum,'NumberRecords':NumRecords,'Good':NumGoods,'Bad':NumBads,'PercentGood':PercentGoods,'PercentBad':PercentBads,'TotalRecodes':TotalRecords,'CumGood':CumGoods,'Cumbad':CumBads,'CumPercentGood':CumPercentGood,'CumPercentBad':CumPercentBad,'KS':KS,'FPR':FPR})
tst

,Pop,NumberRecords,Good,Bad,PercentGood,PercentBad,TotalRecodes,CumGood,Cumbad,CumPercentGood,CumPercentBad,KS,FPR
0,1,253,121,132,47.83,52.17,253,121,132,0.48,54.10,53.62,0.92
1,2,253,217,36,85.77,14.23,506,338,168,1.35,68.85,67.50,2.01
2,3,253,235,18,92.89,7.11,759,573,186,2.29,76.23,73.94,3.08
3,4,253,251,2,99.21,0.79,1012,824,188,3.29,77.05,73.76,4.38
4,5,253,243,10,96.05,3.95,1265,1067,198,4.26,81.15,76.89,5.39
5,6,253,244,9,96.44,3.56,1518,1311,207,5.23,84.84,79.61,6.33
6,7,253,252,1,99.60,0.40,1771,1563,208,6.24,85.25,79.01,7.51
7,8,253,250,3,98.81,1.19,2024,1813,211,7.24,86.48,79.24,8.59
8,9,253,251,2,99.21,0.79,2277,2064,213,8.24,87.30,79.06,9.69
9,10,253,253,0,100.00,0.00,2530,2317,213,9.25,87.30,78.05,10.88
10,11,253,252,1,99.60,0.40,2783,2569,214,10.26,87.70,77.44,12.00
11,12,253,250,3,98.81,1.19,3036,2819,217,11.26,88.93,77.67,12.99
12,13,253,252,1,99.60,0.40,3289,3071,218,12.26,89.34,77.08,14.09
13,14,253,250,3,98.81,1.19,3542,3321,221,13.26,90.57,77.31,15.03
14,15,253,252,1,99.60,0.40,3795,3573,222,14.27,90.98,76.71,16.09
15,16,253,252,1,99.60,0.40,4048,3825,223,15.27,91.39,76.12,17.15
16,17,253,252,1,99.60,0.40,4301,4077,224,16.28,91.80,75.52,18.20
17,18,253,253,0,100.00,0.00,4554,4330,224,17.29,91.80,74.51,19.33
18,19,253,251,2,99.21,0.79,4807,4581,226,18.29,92.62,74.33,20.27
19,20,253,252,1,99.60,0.40,5060,4833,227,19.30,93.03,73.73,21.29

In [ ]:
good.to_excel('test.xlsx')

## Draw OOT Performance Table

In [1]:
# for oot
binNum = []
NumRecords = []
NumGoods = []
NumBads = []
PercentGoods = []
PercentBads = []
TotalRecords = []
CumGoods = []
CumBads = []
CumPercentGood = []
CumPercentBad = []
KS = []
FPR = []
total_Goods = X_oot[X_oot['Fraud']==0].shape[0]
total_Bads = X_oot[X_oot['Fraud']==1].shape[0]
for i in range(1,21):
    new_df = X_oot.sort_values('predicted',ascending=False)[(i-1)*NumOfRows_oneBin_2:i*NumOfRows_oneBin_2]
    binNum.append(i)
    NumRecords.append(NumOfRows_oneBin_2)
    NumGoods.append(new_df[new_df['Fraud']==0].shape[0])
    NumBads.append(new_df[new_df['Fraud']==1].shape[0])
    PercentGoods.append(round(NumGoods[-1]*100/NumOfRows_oneBin_2,2))
    PercentBads.append(100-PercentGoods[-1])
    TotalRecords.append(i*NumOfRows_oneBin_2)
    CumGoods.append(sum(NumGoods))
    CumBads.append(sum(NumBads))
    CumPercentGood.append(round(CumGoods[-1]*100/total_Goods,2))
    CumPercentBad.append(round(CumBads[-1]*100/total_Bads,2))
    KS.append(CumPercentBad[-1]-CumPercentGood[-1])
    FPR.append(round(CumGoods[-1]/CumBads[-1],2))

oot = pd.DataFrame(data={'Pop':binNum,'NumberRecords':NumRecords,'Good':NumGoods,'Bad':NumBads,'PercentGood':PercentGoods,'PercentBad':PercentBads,'TotalRecodes':TotalRecords,'CumGood':CumGoods,'Cumbad':CumBads,'CumPercentGood':CumPercentGood,'CumPercentBad':CumPercentBad,'KS':KS,'FPR':FPR})
oot

NameError: name 'X_oot' is not defined